
version: '3.8'
services:

  department-service:
    container_name: department-service
    image: rayanah/department-service
    build: ./department-service
    ports:  
            - "8083:80"

  office-service:
    container_name: office-service
    image: rayanah/office-service
    build: ./office-service
    ports:
            - "8084:80"
  
  person-service:
    container_name: person-service
    image: rayanah/person-service
    build: ./person-service
    ports:   
            - "8081:80"
  role-service:
    container_name: role-service
    image: rayanah/role-service
    build: ./role-service
    ports:
            - "8082:80"
  project-assessment-site:
    container_name: project-assessment-site
    image: rayanah/project-assessment-site
    build: ./project-assessment-site
    ports:
            - "80:80"             
